doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Welcome to #{title}
    p testing
     ul 
      each food in foods 
        li
          p #{food.name}
  
